[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fmds"]
	path = fmds
	url = https://github.com/cran/fmds
[submodule "fmdu"]
	path = fmdu
	url = https://github.com/cran/fmdu
[submodule "monotone"]
	path = monotone
	url = https://github.com/cran/monotone
